python-dotenv==1.0.1
boto3==1.35.1
ipython==8.12.3
nemo_toolkit==1.23.0
xtarfile==0.2.1
loguru==0.7.2
lmnr==0.4.22
Cython==3.0.11
pyannote.audio==3.3.1
pydub==0.25.1
torch==2.3.1
torchaudio==2.3.1
huggingface-hub==0.23.5
transformers==4.42.4
youtokentome==1.0.6
editdistance==0.8.1
lhotse==1.24.2
webdataset==0.1.62
datasets==2.20.0
jiwer==3.0.4